/* line 2, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body {
  background: black;
  background: linear-gradient(118deg, black 0%, #828282 71%, white 91%);
}

/* line 6, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#nav {
  top: -1px;
}

/* line 10, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation {
  margin-top: 3.5em;
}

/* line 12, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box {
  color: white;
  text-align: center;
  margin-top: 2px;
}

/* line 16, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .top {
  font-size: 2em;
  margin-top: 2px;
  padding: 50px 0 80px;
}

/* line 20, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .top h1 {
  font-size: 1em;
  color: #80807c;
}

/* line 23, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .top h1 span {
  font-size: 0.7em;
  display: block;
}

/* line 28, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .top p {
  font-size: 2sem;
  font-family: fangsong;
}

/* line 34, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .content div {
  max-height: 34em;
}

/* line 37, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .content .img {
  background-image: url(../img/profil/profil_dim.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 43, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .content .text {
  background-color: rgba(100, 100, 200, 0.3);
  padding: 0 30px 150px 30px;
}

/* line 46, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .content .text h2 {
  font-size: 3em;
}

/* line 49, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .content .text p {
  font-size: 1.3em;
  margin-top: 1.5em;
}

/* line 53, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .content .text h3 {
  font-size: 2em;
}

/* line 56, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .content .text .btn {
  margin-top: 10px;
  font-size: 2em;
}

/* line 62, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .foot {
  max-height: 10em;
}

/* line 64, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#presentation .box .foot .text {
  background-color: rgba(100, 100, 200, 0.3);
  padding: 5em;
}

/* line 74, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box {
  color: white;
  text-align: center;
  margin-top: 2px;
}

/* line 78, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .top {
  padding-top: 50px;
}

/* line 80, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .top h2 {
  font-size: 3em;
  text-transform: uppercase;
}

/* line 83, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .top h2::after {
  content: '';
  background-color: #FFF;
  width: 5em;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 93, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content1 {
  margin-top: 10px;
}

/* line 95, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content1 .exp {
  text-align: left;
  padding-bottom: 30px;
}

/* line 98, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content1 .exp span.metier {
  font-weight: bold;
}

/* line 101, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content1 .exp span.ets {
  color: #8b9d1c;
}

/* line 104, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content1 .exp span.date {
  font-style: italic;
  font-size: 14px;
  color: #80807c;
}

/* line 111, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content2 {
  font-size: 0.8em;
  margin-top: 10px;
}

/* line 114, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content2 .exp {
  text-align: left;
  padding-bottom: 30px;
}

/* line 117, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content2 .exp span.metier {
  font-weight: bold;
}

/* line 120, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content2 .exp span.ets {
  color: #8b9d1c;
}

/* line 123, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content2 .exp span.date {
  font-style: italic;
  font-size: 14px;
  color: #80807c;
}

/* line 130, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content2 h2::after {
  content: '';
  background-color: #FFF;
  width: 5em;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 140, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content3 {
  font-size: 0.8em;
  margin-top: 10px;
  text-align: left;
}

/* line 145, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content3 h2::after {
  content: '';
  background-color: #FFF;
  width: auto;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 154, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .content3 span.number {
  color: #ff8000;
  font-family: system-ui;
}

/* line 159, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#experience .box .foot {
  height: 30px;
}

/* line 167, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box {
  color: white;
  text-align: center;
  margin-top: 2px;
}

/* line 171, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .top {
  padding-top: 50px;
}

/* line 173, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .top h2 {
  font-size: 3em;
  text-transform: uppercase;
}

/* line 176, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .top h2::after {
  content: '';
  background-color: #FFF;
  width: 5em;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 186, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content1 {
  margin-top: 10px;
}

/* line 188, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content1 .exp {
  text-align: left;
  padding-bottom: 30px;
}

/* line 191, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content1 .exp span.metier {
  font-weight: bold;
}

/* line 194, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content1 .exp span.ets {
  color: #8b9d1c;
}

/* line 197, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content1 .exp span.date {
  font-style: italic;
  font-size: 14px;
  color: #80807c;
}

/* line 204, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content2 {
  font-size: 0.8em;
  margin-top: 10px;
}

/* line 207, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content2 .exp {
  text-align: left;
  padding-bottom: 30px;
}

/* line 210, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content2 .exp span.metier {
  font-weight: bold;
}

/* line 213, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content2 .exp span.ets {
  color: #8b9d1c;
}

/* line 216, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content2 .exp span.date {
  font-style: italic;
  font-size: 14px;
  color: #80807c;
}

/* line 223, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content2 h2::after {
  content: '';
  background-color: #FFF;
  width: 5em;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 233, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content3 {
  font-size: 0.8em;
  margin-top: 10px;
  text-align: left;
}

/* line 238, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .content3 h2::after {
  content: '';
  background-color: #FFF;
  width: auto;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 248, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#realisation .box .foot {
  height: 30px;
}

/* line 255, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#project .container {
  background-image: url(../img/background/2020.jpg);
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  padding-bottom: 20px;
}

/* line 262, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#project .container h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 50px 0;
}

/* line 266, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#project .container h2::after {
  content: '';
  background-color: #FFF;
  width: 4em;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 275, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#project .container .row {
  justify-content: center;
}

/* line 277, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#project .container .row h4 {
  font-size: 1.5em;
  margin-top: 25px;
}

/* line 281, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#project .container .row a {
  text-decoration: none;
}

/* line 287, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#stage {
  color: white;
}

/* line 290, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#stage .container h2 {
  text-align: center;
}

/* line 294, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
#stage .container ul img {
  max-height: 20px;
  margin-left: 10px;
}

/* line 302, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies {
  margin: 0;
  background-image: url(../img/background/17520.jpg);
}

/* line 305, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax {
  position: relative;
  width: 100%;
  height: 100vh;
}

@media (max-width: 500px) {
  /* line 311, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
  body#hobbies img {
    display: none;
  }
}

/* line 332, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies {
  margin: 0;
  background-image: url(../img/background/17520.jpg);
}

/* line 335, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* line 340, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row {
  justify-content: center;
  margin-top: 1em;
}

/* line 343, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row {
  border: 3px ridge #016bba;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
}

/* line 350, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row div.exp {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

/* line 355, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row div.forma {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0;
  margin-top: 20px;
}

/* line 364, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row h2 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
  color: #00d5f1;
  text-shadow: 1px 1px 2px #a7c5eb;
}

/* line 371, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row .metier {
  font-weight: bold;
  color: palegoldenrod;
}

/* line 375, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row .ets {
  color: #8b9d1c;
}

/* line 378, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row .date {
  font-style: italic;
  font-size: 14px;
  color: mediumaquamarine;
}

/* line 383, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row span {
  color: lightskyblue;
}

/* line 386, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row .galaxy {
  padding: 30px;
}

/* line 388, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
body#hobbies #parallax section .row .row .galaxy img {
  margin-top: 5em;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 500px) {
  /* line 400, D:/Users/DGnex/Documents/www/CVonlineV3/scss/style.scss */
  body#hobbies img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */