/* line 2, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body {
  height: 8000px;
}

/* line 5, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body nav img.navbar-brand {
  height: 2em;
  background-color: #FFF;
  padding: 0 20px 0 20px;
  border-radius: 5px;
}

/* line 12, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header {
  margin-top: 3.5em;
}

/* line 14, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation {
  color: #FFF;
  text-align: center;
  margin-top: 2px;
}

/* line 18, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .top {
  font-size: 1.8em;
  margin-top: 2px;
  padding: 50px 0 80px;
}

/* line 22, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .top h1 {
  color: gray;
}

/* line 24, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .top h1 span {
  font-size: 0.7em;
  display: block;
}

/* line 29, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .top p {
  font-size: 2em;
  font-family: fangsong;
}

/* line 38, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .content .img {
  background-image: url(../img/profil/profil_dim.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 44, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .content .text {
  background-color: rgba(100, 100, 200, 0.3);
  padding: 0 30px 150px 30px;
}

/* line 47, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .content .text h2 {
  font-size: 3em;
}

/* line 50, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .content .text p {
  font-size: 1.3em;
  margin-top: 1.5em;
}

/* line 54, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .content .text h3 {
  font-size: 2em;
}

/* line 57, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body header .presentation .content .text .btn {
  margin-top: 10px;
  font-size: 2em;
}

/* line 69, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .page-section {
  padding: 6rem 0;
}

/* line 71, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .page-section .text-center {
  text-align: center !important;
}

/* line 74, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 79, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

/* line 87, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

/* line 92, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

/* line 102, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

/* line 107, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li:after, body section#Experience .timeline > li:before {
  display: table;
  content: " ";
}

/* line 111, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li:after {
  clear: both;
}

/* line 114, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

/* line 121, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

/* line 127, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/* line 133, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

/* line 146, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

/* line 151, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

/* line 156, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

/* line 162, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/* line 168, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline > li:last-child {
  margin-bottom: 0;
}

/* line 171, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline .timeline-heading h4 {
  margin-top: 0;
}

/* line 174, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline .timeline-heading h5 {
  color: #8b9d1c;
}

/* line 177, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline .timeline-heading h6 {
  color: #709fb0;
}

/* line 180, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline .timeline-heading h4.subheading {
  text-transform: none;
  color: #8b9d1c;
}

/* line 184, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#Experience .timeline .timeline-body > ul,
body section#Experience .timeline .timeline-body > p {
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 768px) {
  /* line 191, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline:before {
    left: 50%;
  }
  /* line 194, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  /* line 198, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  /* line 204, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  /* line 210, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  /* line 215, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  /* line 222, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li {
    min-height: 150px;
  }
  /* line 225, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  /* line 228, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  /* line 233, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  /* line 238, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  /* line 243, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li {
    min-height: 170px;
  }
  /* line 246, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  /* line 249, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  /* line 254, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  /* line 257, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#Experience .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* line 263, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio {
  padding-top: 60px;
}

/* line 265, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio h2 {
  color: #FFF;
}

/* line 268, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 273, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

/* line 278, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(254, 209, 54, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}

/* line 289, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}

/* line 293, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

/* line 296, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}

/* line 301, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}

/* line 307, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* line 312, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#build {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 315, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#build .content-section-heading {
  margin-bottom: 20px;
}

/* line 317, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#build .content-section-heading h2 {
  color: #555;
  text-align: center;
  margin-top: 2px;
  font-family: 'Ruda', sans-serif;
}

/* line 323, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#build .content-section-heading h3 {
  color: #333;
  text-align: center;
  margin-top: 2px;
  font-family: 'Ruda', sans-serif;
}

/* line 331, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#build .build-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: 10px auto 1rem;
}

/* line 337, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#build .build-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

/* line 346, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#build .build-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

/* line 349, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#build .build-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* line 353, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body section#build .build-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  /* line 331, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#build .build-item {
    max-width: none;
    margin: 0;
  }
  /* line 362, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#build .build-item .caption {
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    clip-path: inset(0px);
  }
  /* line 365, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#build .build-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  /* line 372, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#build .build-item img {
    transition: clip-path 0.25s ease-out;
    clip-path: inset(-1px);
  }
  /* line 377, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#build .build-item:hover img {
    clip-path: inset(2rem);
  }
  /* line 380, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body section#build .build-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    clip-path: inset(2rem);
  }
}

/* line 388, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body footer {
  margin-top: 50px;
}

/* line 390, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
body footer img {
  height: 50px;
  width: 50px;
}

@media (max-width: 400px) {
  /* line 400, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body header .presentation .top {
    padding: 0;
  }
  /* line 402, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body header .presentation .top h1 {
    margin-top: 1em;
    font-size: 0.8em;
    color: gray;
  }
  /* line 406, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body header .presentation .top h1 span {
    font-size: 1.1em;
    display: block;
  }
  /* line 411, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body header .presentation .top p {
    font-size: 1em;
    font-family: fangsong;
  }
  /* line 422, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body header .presentation .content .text {
    padding: 0 30px 15px 30px;
  }
  /* line 424, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body header .presentation .content .text h2 {
    font-size: 2em;
  }
  /* line 427, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body header .presentation .content .text p {
    font-size: 1em;
    margin-top: 1.5em;
  }
  /* line 431, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body header .presentation .content .text h3 {
    font-size: 1.4em;
  }
  /* line 434, D:/Users/DGnex/Documents/www/CVonlineV4/scss/style.scss */
  body header .presentation .content .text .btn {
    margin-top: 10px;
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */