/*-----index.moi----*/
/* line 4, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
header {
  background-image: url(../img/background/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
}

/* line 9, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
header h1 {
  text-shadow: 1px 1px 2px #a7c5eb;
  font-size: 3em;
}

/* line 13, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
header .status {
  color: #a7c5eb;
  font-size: 1.3em;
}

/* line 17, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
header .info {
  color: #709fb0;
  font-size: 1.2em;
  font-style: italic;
}

/* line 22, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
header img {
  max-width: 300px;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px #a7c5eb;
}

/*-----index.CV----*/
/* line 33, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#CV .container {
  background-image: url(../img/background/2020.jpg);
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 39, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#CV h2 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
  color: #00d5f1;
  text-shadow: 1px 1px 2px #a7c5eb;
}

/* line 46, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#CV .metier {
  font-weight: bold;
}

/* line 49, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#CV .ets {
  color: #8b9d1c;
}

/* line 52, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#CV .date {
  font-style: italic;
  font-size: 14px;
  color: #80807c;
}

/* line 57, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#CV #profil {
  background-image: url(../img/background/2180.jpg);
  background-size: cover;
  color: #FFF;
}

/* line 61, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#CV #profil h2 {
  color: #00d5f1;
}

/* line 64, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#CV #profil .number {
  color: #ff8000;
  font-size: 1.2em;
}

/* line 68, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#CV #profil .btn-CV {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/*-----build----*/
/* line 81, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#build .container {
  background-image: url(../img/background/2020.jpg);
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding-bottom: 20px;
}

/* line 88, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#build .container h2 {
  text-align: center;
  text-transform: uppercase;
  color: #00d5f1;
  margin: 20px 0 50px 0;
}

/* line 93, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#build .container h2::after {
  content: '';
  background-color: #00d5f1;
  width: 4em;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 102, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#build .container span {
  display: block;
  padding: 10px;
  background-color: rgba(167, 197, 235, 0.3);
}

/* line 107, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#build .container .row {
  margin: 10px;
  justify-content: center;
}

/*-----project-----*/
/* line 115, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#project .container {
  background-image: url(../img/background/2020.jpg);
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  padding-bottom: 20px;
}

/* line 122, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#project .container h2 {
  text-align: center;
  text-transform: uppercase;
  color: #00d5f1;
  margin: 20px 0 50px 0;
}

/* line 127, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#project .container h2::after {
  content: '';
  background-color: #00d5f1;
  width: 4em;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 136, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#project .container .row {
  justify-content: center;
}

/* line 138, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#project .container .row h4 {
  font-size: 1.5em;
  margin-top: 25px;
}

/* line 142, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#project .container .row a {
  text-decoration: none;
}

/*-----hobbies-----*/
/* line 151, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#hobbies .container {
  background-image: url(../img/background/2020.jpg);
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  padding-bottom: 20px;
}

/* line 158, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#hobbies .container h2 {
  text-align: center;
  text-transform: uppercase;
  color: #00d5f1;
  margin: 20px 0 50px 0;
}

/* line 163, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#hobbies .container h2::after {
  content: '';
  background-color: #00d5f1;
  width: 4em;
  height: 3px;
  display: block;
  margin: 10px auto;
}

/* line 172, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#hobbies .container div {
  text-align: center;
  justify-content: center;
}

/* line 175, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#hobbies .container div div {
  margin: 10px;
}

/* line 177, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#hobbies .container div div img {
  width: 100%;
}

/* line 180, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#hobbies .container div div span {
  display: block;
  padding: 10px;
  background-color: rgba(167, 197, 235, 0.3);
}

/*-----stage-----*/
/* line 194, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#stage .container h2 {
  text-align: center;
}

/* line 198, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
#stage .container ul img {
  max-height: 20px;
  margin-left: 10px;
}

/*-----footer----*/
/* line 207, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
footer {
  background-image: url(../img/background/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  /*
    @keyframes slidein {
        0% {
            margin-left: -40%;
        }
        40% {
            transform: rotateY(0deg);
        }
        50% {
            transform: rotateY(180deg);
            margin-left: 120%; 
        }
        90% {
            transform: rotateY(180deg);
        }
        100% {
            margin-left: -50%;
            transform: rotateY(0deg);
        }
    }*/
}

/* line 212, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
footer .animation {
  position: absolute;
  animation: slidein 10s infinite linear;
  max-height: 100px;
}

/* line 217, D:/Users/DGnex/Documents/GitHub/CVonline/scss/style.scss */
footer h2 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
  color: #00d5f1;
  text-shadow: 1px 1px 2px #a7c5eb;
}

/*# sourceMappingURL=style.css.map */