/*-----header-----*/
header {
  display: flex;
  justify-content: center; }

a {
  text-decoration: none;
  color: black; }

/*-----index.moi----*/
#moi {
  background-image: url(../img/background/header.png);
  background-repeat: no-repeat;
  background-size: cover; }
  #moi h1 {
    text-shadow: 1px 1px 2px #a7c5eb;
    font-size: 3em; }
  #moi .status {
    color: #a7c5eb;
    font-size: 1.3em; }
  #moi .info {
    color: #709fb0;
    font-size: 1.2em;
    font-style: italic; }
  #moi img {
    max-width: 300px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px #a7c5eb; }

/*-----index.CV----*/
#CV .container {
  background-image: url(../img/background/2020.jpg);
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px; }
#CV h2 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
  color: #00d5f1;
  text-shadow: 1px 1px 2px #a7c5eb; }
#CV .metier {
  font-weight: bold; }
#CV .ets {
  color: #8b9d1c; }
#CV .date {
  font-style: italic;
  font-size: 14px;
  color: #80807c; }
#CV #profil {
  background-image: url(../img/background/2180.jpg);
  background-size: cover;
  color: #FFF; }
  #CV #profil h2 {
    color: #00d5f1; }
  #CV #profil .number {
    color: #ff8000;
    font-size: 1.2em; }
  #CV #profil .btn-CV {
    display: flex;
    justify-content: center; }

/*-----build----*/
#build .container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding-bottom: 20px; }
  #build .container h2 {
    text-align: center;
    text-transform: uppercase;
    color: #00d5f1;
    margin: 20px 0 50px 0; }
    #build .container h2::after {
      content: '';
      background-color: #00d5f1;
      width: 4em;
      height: 3px;
      display: block;
      margin: 10px auto; }
  #build .container span {
    display: block;
    padding: 10px;
    background-color: rgba(167, 197, 235, 0.3); }
  #build .container .row {
    margin: 10px;
    justify-content: center; }

/*-----project-----*/
#project .container {
  background-image: url(../img/background/2020.jpg);
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  padding-bottom: 20px; }
  #project .container h2 {
    text-align: center;
    text-transform: uppercase;
    color: #00d5f1;
    margin: 20px 0 50px 0; }
    #project .container h2::after {
      content: '';
      background-color: #00d5f1;
      width: 4em;
      height: 3px;
      display: block;
      margin: 10px auto; }
  #project .container .row {
    justify-content: center; }
    #project .container .row h4 {
      font-size: 1.5em;
      margin-top: 25px; }
    #project .container .row a {
      text-decoration: none; }

/*-----hobbies-----*/
#hobbies .container {
  background-image: url(../img/background/2020.jpg);
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  padding-bottom: 20px; }
  #hobbies .container h2 {
    text-align: center;
    text-transform: uppercase;
    color: #00d5f1;
    margin: 20px 0 50px 0; }
    #hobbies .container h2::after {
      content: '';
      background-color: #00d5f1;
      width: 4em;
      height: 3px;
      display: block;
      margin: 10px auto; }
  #hobbies .container div {
    text-align: center;
    justify-content: center; }
    #hobbies .container div div {
      margin: 10px; }
      #hobbies .container div div img {
        width: 100%; }
      #hobbies .container div div span {
        display: block;
        padding: 10px;
        background-color: rgba(167, 197, 235, 0.3); }

/*-----stage-----*/
#stage .container h2 {
  text-align: center; }
#stage .container ul img {
  max-height: 20px;
  margin-left: 10px; }

/*-----footer----*/
footer {
  background-image: url(../img/background/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  /*
  @keyframes slidein {
      0% {
          margin-left: -40%;
      }
      40% {
          transform: rotateY(0deg);
      }
      50% {
          transform: rotateY(180deg);
          margin-left: 120%; 
      }
      90% {
          transform: rotateY(180deg);
      }
      100% {
          margin-left: -50%;
          transform: rotateY(0deg);
      }
  }*/ }
  footer .animation {
    position: absolute;
    animation: slidein 10s infinite linear;
    max-height: 100px; }
  footer h2 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 24px;
    color: #00d5f1;
    text-shadow: 1px 1px 2px #a7c5eb; }

/*# sourceMappingURL=style.css.map */
