$blueSky: #a7c5eb;
$blueSky1: #709fb0;
$bluesky3: #00d5f1;
$green: #8b9d1c;
$gray: #80807c;
$orange: #ff8000;
$black: #000000;
$yellow: #e9a411;
$date:mediumaquamarine;
$metier: palegoldenrod;
$sky: lightskyblue;